<footer class="Footer u-padding-y-16">
    <div class="margin">
        <h2 class="u-font-bold u-color-black-2">Información</h2>
        <img src="../../../assets/images/footer.jpg" alt="">
    </div>
</footer>