<div class="Home">
    <div class="Home__banner">
        <img width="100%" src="../../../assets/images/banner_002.jpg" alt="">
    </div>
    <div class="Home__ptic u-padding-y-56">
        <div class="margin">
            <div class="PTIC__title u-margin-b-48">
                <p class="u-font-light u-fz-32">PLATAFORMA TECNOLÓGICA DE INVESTIGACIÓN CRIMINAL - PTIC</p>
            </div>
            <div class="PTIC__list">
                <a class="PTIC__item" href="https://sinpol.pnp.gob.pe/esinpol/" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Sistema ESINPOL</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/esinpol.jpg" alt="">
                    </div>
                    <div class="item__description">
                        <p>
                            <span class="u-font-semibold">Sistema de Información Policial.</span> Brinda información de
                            personas requisitoriadas, personas con antecedentes y personas con atestados, partes ,
                            informes registrados en la Dirincri desde su creación.
                        </p>
                    </div>
                </a>
                <a class="PTIC__item" href="https://denuncias.pnp.gob.pe/Dirincri/" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">SIRDIC</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/sirdic.jpg" alt="">
                    </div>
                    <div class="item__description">
                        <p>
                            <span class="u-font-semibold">Sistema de Registros de Denuncias de Investigación Criminal -
                                PNP.</span> Brinda
                            Información de denuncias e intervenciones policiales registrados en la DIRINCRI y DEPINCRI.
                        </p>
                    </div>
                </a>
                <a class="PTIC__item" href="https://sigcpd.policia.gob.pe/sigcp/login.aspx" target="_blank">
                    <div class="item__title">
                        <p class="u-font-bold">Aguila 6</p>
                    </div>
                    <div class="item__image">
                        <img src="../../../assets/images/aguila6.jpg" alt="">
                    </div>
                    <div class="item__description">
                        <p>
                            <span class="u-font-semibold">Sistema Integrado de Gestion de la Carrera Policial.</span>
                            Brinda información
                            administrativa del personas de la PNP.
                        </p>
                    </div>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="Home__download u-padding-y-56">
        <div class="margin">
            <div class="Download__title u-margin-b-48">
                <p class="u-font-light u-fz-32">Descargas Frecuentes</p>
            </div>
            <div class="Download__list">
                <div class="Download__item">
                    <a href="https://dirincri.pnp.gob.pe/documentos/PRONTUARIO_2020.pdf" target="_blank">
                        <div class="Item__image">
                            <img src="../../../assets/images/pdf_icon.png" alt="">
                        </div>
                        <div class="Item__title">
                            <p class="u-font-semibold">Prontuario DIRINCRI</p>
                        </div>
                    </a>
                </div>
                <div class="Download__item">
                    <a href="https://dirincri.pnp.gob.pe/documentos/DIRECTORIO-DIVINCRI.pdf" target="_blank">
                        <div class="Item__image">
                            <img src="../../../assets/images/pdf_icon.png" alt="">
                        </div>
                        <div class="Item__title">
                            <p class="u-font-semibold">Directorio Telefónico PNP</p>
                        </div>
                    </a>
                </div>
                <div class="Download__item">
                    <a href="https://dirincri.pnp.gob.pe/documentos/PRONTUARIO-JEFDRDIC-2019.pdf" target="_blank">
                        <div class="Item__image">
                            <img src="../../../assets/images/pdf_icon.png" alt="">
                        </div>
                        <div class="Item__title">
                            <p class="u-font-semibold">PRONTUARIO JEFDRDIC</p>
                        </div>
                    </a>
                </div>
                <div class="Download__item">
                    <a href="https://telefonia.pnp.gob.pe/Directorio_Telefonico_PNP/" target="_blank">
                        <div class="Item__image">
                            <img src="../../../assets/images/link_icon.jpg" alt="">
                        </div>
                        <div class="Item__title">
                            <p class="u-font-semibold">Prontuario Comisarias</p>
                        </div>
                    </a>
                </div>
                <div class="Download__item">
                    <a
                        href="javascript:window.open('https://portal.mpfn.gob.pe/renadespple/nacional/','','toolbar=yes');void 0">
                        <div class="Item__image">
                            <img src="../../../assets/images/link_icon.jpg" alt="">
                        </div>
                        <div class="Item__title">
                            <p class="u-font-semibold">Visualización de Detenidos</p>
                        </div>
                    </a>
                </div>
                <div class="Download__item">
                    <a href="https://dirincri.pnp.gob.pe/Archivos/UbicacionInternos.rar" target="_blank">
                        <div class="Item__image">
                            <img src="../../../assets/images/zip_icon.png" alt="">
                        </div>
                        <div class="Item__title">
                            <p class="u-font-semibold">Aplicativo INPE</p>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="Home__testimonials u-padding-y-56">
        <div class="margin">
            <div class="Testimonials__title u-margin-b-48">
                <p class="u-font-light u-fz-32">Testimonios</p>
            </div>
            <div class="Testimonials__list">
                <div class="Testimonials__item">
                    <div class="Item__wrapper">
                        <div class="Item__author">
                            <img src="../../../assets/images/user_icon.jpg" alt="">
                            <p class="u-font-semibold u-fz-14">Juan Carlos - Sotil Toledo</p>
                        </div>
                        <div class="Item__text">
                            <p>"La DIRINCRI renueva su compromiso de continuar trabajando con honor y sacrificio,
                                maximizando esfuerzos para mejorar el servicio que brindamos a la ciudadanía"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="Testimonials__item">
                    <div class="Item__wrapper">
                        <div class="Item__author">
                            <img src="../../../assets/images/user_icon.jpg" alt="">
                            <p class="u-font-semibold u-fz-14">Anonimo</p>
                        </div>
                        <div class="Item__text">
                            <p>"Existen pocas armas en el mundo que son tan poderosas como una niña con un libro en la
                                mano"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="Testimonials__item">
                    <div class="Item__wrapper">
                        <div class="Item__author">
                            <img src="../../../assets/images/user_icon.jpg" alt="">
                            <p class="u-font-semibold u-fz-14">El Policia</p>
                        </div>
                        <div class="Item__text">
                            <p>"La Grandeza de tu poder no esta en el uniforme que portas sino en el trato que brindas"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>